h1 {
    text-decoration: underline
}

div.histo {
    display: flex;
    flex-flow: column;
    width: 100%;
    background-color: #eee;
    padding: 0, 5em
}

div.bar {
    width: 0;
    background-color: crimson;
    height: 1em;
    margin: 1em 0
}